.header {
  width: 100%;
  background-color: blue;
  color: white;

  p {
    margin: 0;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  font-size: 3rem;
}

.headerCart {
  button {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 0.5em;
    background-color: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
  }
  span {
    font-size: 0.9rem;
  }
}
